@inherits FBase_Edit;

<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-light">
				@if (r_iAuto_ID != 0)
				{
					<h5 class="modal-title">@Get_Language_Data_Field("Hiệu chỉnh chi tiết")</h5>
				}
				else
				{
					<h5 class="modal-title">@Get_Language_Data_Field("Thêm mới")</h5>
				}
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
				</button>
			</div>

			<div class="modal-footer" style="margin-top:10px">
				<button type="button" class="btn rounded-pill btn-primary waves-effect waves-light" @onclick="@(()=> Open_Edit(0))">
					<i class="ri-add-circle-fill align-bottom me-1"></i>
					@Get_Language_Data_Field("Thêm chi tiết")
				</button>
			</div>
			@((MarkupString)r_strError)

			<F2014_11_Phieu_Xuat_Raw_Data_List v_auto_id="r_iAuto_ID" @ref="v_objloadListdataXKRD"></F2014_11_Phieu_Xuat_Raw_Data_List>

		</div>
	</div>
</div>

@if (r_bIs_Show_Edit == true)
{
	<F2014_3_Phieu_Xuat_Raw_Data_Edit r_iAuto_ID="@r_iAuto_ID" route="0" OnClose="@Close_Edit" OnDataAdded="@HandleDataAdded"></F2014_3_Phieu_Xuat_Raw_Data_Edit>
}

@code {
	private CXNK_Xuat_Kho_Raw_Data m_objData = new();
	public F2014_11_Phieu_Xuat_Raw_Data_List v_objloadListdataXKRD;
	[Parameter]
	public EventCallback<CXNK_Xuat_Kho_Raw_Data> OnDataAdded { get; set; }

	protected override void Init_Data()
	{

	}

	private void HandleDataAdded(CXNK_Xuat_Kho_Raw_Data newData)
	{
		v_objloadListdataXKRD.Load_Data_Init();
		StateHasChanged(); // Render lại giao diện
	}
}
