@inherits FBase_Edit;

<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
	<div class="modal-dialog modal-l">
		<div class="modal-content">

			<div class="modal-header bg-light">
				@if (r_iAuto_ID != 0)
				{
					<h5 class="modal-title">@Get_Language_Data_Field("Hiệu chỉnh")</h5>
				}
				else
				{
					<h5 class="modal-title">@Get_Language_Data_Field("Thêm mới")</h5>
				}
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
				</button>
			</div>
			@((MarkupString)r_strError)
			
			<EditForm Model="@m_objData">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							@if(r_bUpdate==false){
								<div class="row mb-1">
									<div class="col-lg-4 col-form-label">
										<label class="form-label">@Get_Language_Data_Field("Sản phẩm"):</label>
									</div>
									<div class="col-lg-8">
										<FControl_San_Pham_Combo @bind-BindingValue="m_objData.San_Pham_ID"></FControl_San_Pham_Combo>
									</div>
								
								</div>
							}
							else
							{
								<div class="row mb-1">
									<div class="col-lg-4 col-form-label">
										<label class="form-label">@Get_Language_Data_Field("Sản phẩm"):</label>
									</div>
									<div class="col-lg-8">
										<input @bind="@m_objData.Ten_San_Pham" class="form-control" readonly></input>
									</div>
								</div>
							}
							<div class="row mb-1">
								<div class="col-lg-4 col-form-label">
									<label class="form-label">@Get_Language_Data_Field("Số lượng nhập"):</label>
								</div>
								<div class="col-lg-8">
									<input type="number" @bind="@m_objData.SL_Nhap" class="form-control">
									
								</div>
							</div>

							<div class="row mb-1">
								<div class="col-lg-4 col-form-label">
									<label class="form-label">@Get_Language_Data_Field("Đơn giá nhập"):</label>
								</div>
								<div class="col-lg-8">
									<input type="number" @bind="@m_objData.Don_Gia_Nhap" class="form-control">
								</div>
							</div>

						</div>
					</div>
				</div>
			</EditForm>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" @onclick="@Save_Data">@Get_Language_Data_Field("Lưu")</button>
			</div>
		</div>
	</div>
</div>


@code {

	private CXNK_Nhap_Kho_Raw_Data m_objData = new();
	public List<CXNK_Nhap_Kho_Raw_Data> m_arrNhapKho = new List<CXNK_Nhap_Kho_Raw_Data>();
	private bool isPopupVisible = false;
	public int auto = 0;
	public int m_iSL = 0;
	public double m_iDG = 0;

	[Parameter]
	public long m_iAutoID_PhieuNhap{ get; set; }

	public F2012_1_Phieu_Nhap_Raw_Data_List v_objloadListNKRD;
	//Tạo route để phân luồng 2 loại thêm bảng tạm (Trên Array) và thêm vào database
	[Parameter]
	public int route{ get; set; }

	[Parameter]
	public EventCallback<CXNK_Nhap_Kho_Raw_Data> OnSaveCTPN { get; set; }
	//Tạo một object DataEdit để nhận dữ liệu từ List sau đó mới đẩy vào cho objData
	[Parameter]
	public CXNK_Nhap_Kho_Raw_Data m_objDataEdit{ get; set; }

	//Event call back onDataAdded dùng để di chuyển về hàm HandleDataAdded tại 33_Edit để load lại v_objloadListdataNKRD (load lại List để hiển thị phần tử mới)
	[Parameter]
	public EventCallback<CXNK_Nhap_Kho_Raw_Data> OnDataAdded { get; set; }

	protected override void Init_Data()
	{

	}

	protected override void Load_Data()
	{
		CXNK_Nhap_Kho_Raw_Data_Controller v_objCtrData = new();
		m_objData = v_objCtrData.FQ_719_NKRD_sp_sel_Get_By_ID(r_iAuto_ID);
		//If ở đây để phân biệt giữa Edit tạm và Edit database (m_objDataEdit là bảng tạm nếu khi update chính, update database thì m_objDataEdit sẽ là null nên phải phân ra)
		if (m_objDataEdit != null && m_objData == null)
		{
			m_objData = m_objDataEdit;    //Gán object của phần tử tương ứng được chọn từ List cho objData để bind lên text
		}

		//Dành cho việc tạo mới một Chi tiết phiếu nhập
		if (m_objData == null)
			m_objData = new CXNK_Nhap_Kho_Raw_Data();
		else
		{
			r_bUpdate = true;
			m_iSL = m_objData.SL_Nhap;
			m_iDG = m_objData.Don_Gia_Nhap;
			// Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
			CXNK_Nhap_Kho_Raw_Data v_objClone = new();
			CUtility.Clone_Entity(m_objData, v_objClone);
			r_objSource = v_objClone;
			// End tracking
		}
	}

	public void Save_List()
	{
		CXNK_Nhap_Kho_Raw_Data v_objectNhapKho = new CXNK_Nhap_Kho_Raw_Data();

		v_objectNhapKho.Ten_San_Pham = CCache_San_Pham.Get_Data_By_ID(m_objData.San_Pham_ID).Ten_San_Pham;
		v_objectNhapKho.San_Pham_ID = m_objData.San_Pham_ID;
		v_objectNhapKho.SL_Nhap = m_objData.SL_Nhap;
		v_objectNhapKho.Don_Gia_Nhap = m_objData.Don_Gia_Nhap;
		m_arrNhapKho.Add(v_objectNhapKho);

	}

	protected override void Add_Data()
	{
		if (m_iAutoID_PhieuNhap == 0)
		{
			try
			{
				if (m_objData.San_Pham_ID == 0)
				{
					throw new Exception("Vui lòng chọn sản phẩm !");
				}
				if (m_objData.SL_Nhap <= 0)
				{
					throw new Exception("Vui lòng nhập số lượng chính xác!");
				}
				if (m_objData.Don_Gia_Nhap <= 0)
				{
					throw new Exception("Vui lòng nhập đơn giá chính xác!");
				}
				CXNK_Nhap_Kho_Raw_Data v_objectNhapKho = new CXNK_Nhap_Kho_Raw_Data();
				v_objectNhapKho.Auto_ID = auto + 1;
				v_objectNhapKho.San_Pham_ID = m_objData.San_Pham_ID;
				v_objectNhapKho.Ten_San_Pham = CCache_San_Pham.Get_Data_By_ID(m_objData.San_Pham_ID).Ten_San_Pham;
				v_objectNhapKho.SL_Nhap = m_objData.SL_Nhap;
				v_objectNhapKho.Don_Gia_Nhap = m_objData.Don_Gia_Nhap;
				v_objectNhapKho.Tri_Gia = m_objData.SL_Nhap * m_objData.Don_Gia_Nhap;

				// Gọi event callback để truyền thông tin về form chính
				OnSaveCTPN.InvokeAsync(v_objectNhapKho);
				Load_Data_Init();
				CXNK_Nhap_Kho_Raw_Data v_objClone = new();
				CUtility.Clone_Entity(m_objData, v_objClone);
				r_objDes = v_objClone;
				Modal_Cancel();
			}
			catch (Exception ex)
			{
				throw ex;
			}
		}
		else
		{
			CXNK_Nhap_Kho_Raw_Data_Controller v_objCtrData = new();
			m_objData.Last_Updated_By = r_strActive_User_Name;
			m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
			m_objData.Nhap_Kho_ID = m_iAutoID_PhieuNhap;
			m_objData.Auto_ID = m_iAutoID_PhieuNhap = v_objCtrData.FQ_719_NKRD_sp_ins_Insert(m_objData);
			r_strAdd_Key = m_objData.AutoID.ToString();

			OnSaveCTPN.InvokeAsync();
			Load_Data_Init();
			Modal_Cancel();

		}
	}

	protected override void Update_Data()
	{
		try
		{
			r_iAuto_ID = 0;
			if (m_objData.San_Pham_ID == 0)
			{
				throw new Exception("Vui lòng chọn sản phẩm !");
			}
			if (m_objData.SL_Nhap <= 0)
			{
				//Tạo một biến để giữ lại giá trị trước khi đổi thành số sai vd:6 sửa lại thành -6 hoặc 0 thì nó sẽ quay lại 6
				m_objData.SL_Nhap = m_iSL;
				throw new Exception("Vui lòng nhập số lượng chính xác!");
			}
			if (m_objData.Don_Gia_Nhap <= 0)
			{
				m_objData.Don_Gia_Nhap = m_iDG;
				throw new Exception("Vui lòng nhập đơn giá chính xác!");
			}
			m_objData.Tri_Gia = m_objData.Don_Gia_Nhap * m_objData.SL_Nhap;
			CXNK_Nhap_Kho_Raw_Data_Controller v_objCtrData = new();
			m_objData.Last_Updated_By = r_strActive_User_Name;
			m_objData.Last_Updated_By_Function = r_strActive_Function_Code;

			//Khi update trên Array thì không cần phải chạy store (m_objDataEdit rỗng khi edit trên database)
			if (m_objDataEdit == null)
			{
			v_objCtrData.FQ_719_NKRD_sp_upd_Update(m_objData);
			}
			// Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
			CXNK_Nhap_Kho_Raw_Data v_objClone = new();
			CUtility.Clone_Entity(m_objData, v_objClone);
			r_objDes = v_objClone;

		}
		catch (Exception ex)
		{
			throw ex;
		}
	}
}
