@inherits FBase;

<EditForm Model="@r_objFilter">
    <div class="row">
        <div class="col-lg-7">
            <div class="row g-3">
                <div style="width: 80px; padding-top: 8px;">
                    <label class="form-label">@Get_Language_Data_Field("Ngày tạo"):</label>
                </div>
                <div style="width: 140px;">
                    <TelerikDatePicker @bind-Value="@r_objFilter.Date_From" Format="@CConfig.Date_Format_String"></TelerikDatePicker>
                </div>
                <div style="width: 40px; text-align: center; padding-top: 8px;">
                    <label class="form-label">--></label>
                </div>
                <div style="width: 140px;">
                    <TelerikDatePicker @bind-Value="@r_objFilter.Date_To" Format="@CConfig.Date_Format_String"></TelerikDatePicker>
                </div>

                <div class="col-lg-4">
                    <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                        <button type="button" class="btn rounded-pill btn-primary waves-effect waves-light" @onclick="@(()=> Tim_Kiem_Click())">@Get_Language_Data_Field("Tìm kiếm")</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0" style="float: right;">

                <div class="btn-group" role="group">
                    <button type="button" class="btn rounded-pill btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        @Get_Language_Data_Field("Xử lý")
                    </button>
                    <ul class="dropdown-menu">
                        @if (r_objChuc_Nang.Is_Have_Export_Permission == true)
                        {
                            <button class="dropdown-item" type="button" @onclick="@(()=> Export_Excel(grdData))"><i class="ri-file-excel-2-fill align-bottom me-1"></i>&nbsp; @Get_Language_Data_Field("Export Excel")</button>
                            <button class="dropdown-item" type="button" @onclick="@(()=> Export_CSV(grdData))"><i class="ri-booklet-fill align-bottom me-1"></i>&nbsp; @Get_Language_Data_Field("Export CSV")</button>
                        }

                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" type="button" @onclick="@(()=> Open_Helpguide(r_strActive_Function_Code))"><i class="mdi mdi-lifebuoy align-bottom me-1"></i>&nbsp; @Get_Language_Data_Field("Hướng dẫn")</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</EditForm>
<div style="padding-top: 10px;"></div>

<div class="row">
	<div class="col-lg-12">
		@((MarkupString)r_strError)

		<TelerikGrid Data="@v_arrData" Height="calc(100vh - 170px)" Resizable="true" Reorderable="true" @ref="@grdData">
			<GridExport>
				<GridExcelExport FileName="Bao_Cao_Chi_Tiet_Hang_Nhap_Export" AllPages="true" />
				<GridCsvExport FileName="Bao_Cao_Chi_Tiet_Hang_Nhap_Export" AllPages="true" />
			</GridExport>
			<GridColumns>
				<GridCheckboxColumn SelectAll="true" CheckBoxOnlySelection="true" Width="30px"></GridCheckboxColumn>
				
				@if (CCache_Grid_UI_Global.List_Data_By_Code("2015", "grdData").Count > 0)
				{
					<FCommon_General_Col_Grid m_strFCode="2015" m_strTen_Grid="grdData"></FCommon_General_Col_Grid>
				}
				else
				{
					@* <GridColumn Field="AutoID" Title="Mã Chi Tiết" Width="100px"></GridColumn> *@
					<GridColumn Field="Ngay_Nhap" Title="Ngày Nhập" Width="100px"></GridColumn>
					<GridColumn Field="So_Phieu" Title="Số Phiếu Nhập" Width="100px"></GridColumn>
					<GridColumn Field="NCC" Title="Tên Nhà Cung Cấp" Width="100px"></GridColumn>
					<GridColumn Field="Ma_SP" Title="Mã Sản Phẩm" Width="100px"></GridColumn>
					<GridColumn Field="Ten_SP" Title="Tên Sản Phẩm" Width="100px"></GridColumn>
					<GridColumn Field="SL" Title="Số Lượng Nhập" Width="100px"></GridColumn>
					<GridColumn Field="Don_Gia" Title="Đơn Giá Nhập" Width="100px"></GridColumn>
					<GridColumn Field="Tri_Gia" Title="Trị Giá" Width="100px"></GridColumn>
				}
			</GridColumns>
		</TelerikGrid>
	</div>
</div>


@code {
	public List<CXNK_Nhap_Kho_Raw_Data> v_arrData = new();
	TelerikGrid<CXNK_Nhap_Kho_Raw_Data> grdData = new();

	protected override void Init_Data()
	{

	}

	protected override void Load_Data()
	{
		CXNK_Nhap_Kho_Raw_Data_Controller v_objCtrData = new();

		//Format lại grid đúng chuẩn, Đặt trước hàm load dữ liệu vì nó sẽ chạy nhanh hơn
		Format_Grid(grdData);

        v_arrData = v_objCtrData.F742_sp_sel_List_ReportChiTietPhieuNhap(r_objFilter.Date_From, r_objFilter.Date_To);
	}

}
