@page "/reportphieunhap/{Nhap_Kho_ID}"

<PageTitle>Report Viewer</PageTitle>

<a class="nav-link btn btn-primary" style="margin-bottom:10px;width:100px;height:24px;font-size:14px;text-align:center;justify-content:center;vertical-align:middle" href="XNK/Phieu_Nhap_Kho">
    <span class="oi oi-pencil" aria-hidden="true">Quay lại</span>
</a>
<ReportViewer ServiceUrl="/api/reports"
              @bind-ReportSource="@ReportSource"
              @bind-ScaleMode="@ScaleMode"
              @bind-ViewMode="@ViewMode"
              @bind-ParametersAreaVisible="@ParametersAreaVisible"
              @bind-DocumentMapVisible="@DocumentMapVisible"
              @bind-Scale="@Scale"
              PageMode="@PageMode.ContinuousScroll"
              PrintMode="@PrintMode.AutoSelect"
              KeepClientAlive="true"
              EnableSendEmail="true"
              ServiceType="@ReportViewerServiceType.REST"
              Height="900px"
              Width="100%">
    <ReportViewerSettings>
        <SendEmailDialogSettings
            From="from@example.com"
            To="to@example.com"
            Cc="cc@example.com"
            Subject="Report sent"
            Format="CSV"
            Body="Attached report. <br/> <br/> Best regards, </br> ABC">
        </SendEmailDialogSettings>
    </ReportViewerSettings>
</ReportViewer>

@code {
    public ScaleMode ScaleMode { get; set; } = ScaleMode.Specific;
    public ViewMode ViewMode { get; set; } = ViewMode.Interactive;
    public bool ParametersAreaVisible { get; set; }
    public bool DocumentMapVisible { get; set; }
    public double Scale { get; set; } = 1.0;

    [Parameter]
    public string Nhap_Kho_ID { get; set; }


    public ReportSourceOptions ReportSource { get; set; } = new ReportSourceOptions("ReportPhieuNhap.trdp", new Dictionary<string, object>
    {
        // Add parameters if applicable
    });

    protected override async Task OnInitializedAsync()
    {
        CXNK_Nhap_Kho_Controller v_objCtrData = new();
        CXNK_Nhap_Kho v_objData = v_objCtrData.FQ_718_NK_sp_sel_Get_By_ID(Convert.ToInt32(Nhap_Kho_ID));
        CNumber cNum = new();
        CXNK_Nhap_Kho_Raw_Data_Controller v_objCtrRawData = new();
        double v_iNum = v_objCtrRawData.CalculateTotalAmount(Convert.ToInt32(Nhap_Kho_ID));


        ReportSource.Parameters.Add("Nhap_Kho_ID", Nhap_Kho_ID);
        ReportSource.Parameters.Add("Ten_Kho", v_objData.Ten_Kho);
        ReportSource.Parameters.Add("Ten_NCC", v_objData.Ten_NCC);  
        ReportSource.Parameters.Add("So_Phieu_Nhap_Kho", v_objData.So_Phieu_Nhap_Kho);
        ReportSource.Parameters.Add("TongTienBangChu", cNum.ReadInt(v_iNum.ToString(), "VND"));
    }
}
